* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
    overflow-x: hidden;
    width: 1900px;
    margin: 0 auto;
}

header {
    background-color: #f4f4f4;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul a {
    margin: 0 30px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 500;
}

nav ul li a:hover {
    background-color: white;
    border-radius: 10px;
}

#logo img {
    height: 50px;
    width: auto;
}

#encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 10px;
}

#empresa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f4f4f4;
    padding: 50px 200px 50px 200px;
    border-radius: 20px;
    text-align: center;
}

#empresa h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#empresa h2 {
    font-size: 30px;
    font-weight: lighter;
}

#about_us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#mision, #vision, #valores {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: calc(100% / 3);
    height: 220px;
    margin-top: 10px;
    background: #f4f4f4;
    padding: 30px 50px;
}

#vision {
    margin-left: 10px;
    margin-right: 10px;
}

#mision h3, #vision h3, #valores h3 {
    margin-bottom: 10px;
    font-size: 30px;
}

#mision h4, #vision h4, #valores h4 {
    font-size: 20px;
    font-weight: lighter;
}

#proyectos {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    margin-top: 10px;
    border-radius: 20px;
    margin: 0 5px;
}

.proyecto {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 20px;
    width: calc(100% / 5);
    background: #f4f4f4;
    padding: 30px 30px;
    margin: 0 5px;
    padding-bottom: 110px;
    max-height: 410px;
}

.proyecto img {
    width: 100%;
    height: 180px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.proyecto h1 {
    margin-bottom: 10px;
    font-size: 20px;
    min-height: 40px;
}

.proyecto h2 {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: lighter;
    min-height: 50px;
}

.proyecto button {
    background-color: #f4f4f4;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.proyecto button:hover {
    background-color: white;
}

#contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #f4f4f4;
    padding: 50px 300px 50px 300px;
    border-radius: 20px;
    margin: 10px;
}

#tituloContacto {
    margin-bottom: 20px;
    width: 50%;
}

#tituloContacto h1 {
    font-size: 30px;
}

#tituloContacto p {
    font-size: 20px;
}

#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 50%;
    background: #f4f4f4;
    padding: 30px 50px;
}

#formulario input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    max-width: 100%;
}

#formulario textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    max-width: 100%;
}

#formulario button {
    background-color: #f4f4f4;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

input:invalid:is(:focus):not(:placeholder-shown){
    background: rgba(255, 0, 0, 0.274);
}

#formulario button:hover {
    background-color: white;
}


#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: gray;
    padding: 50px 300px 50px 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0 10px;
}

#redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 50px;
}

#redes a {
    margin: 0 10px;
}

#redes a i {
    font-size: 40px;
    color: white;
}

#datosContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#datosContacto p {
    margin: 0 10px;
    font-size: 20px;
    color: white;
}



@media (max-width: 1280px) and (min-width: 1025px) {
    body {
        font-family: sans-serif;
        background-color: white;
        overflow-x: hidden;
        width: 1280px;
        margin: 0 auto;
    }

    #mision, #vision, #valores {
        height: 330px;
    }

    .proyecto {
        max-height: 400px;
    }

    .proyecto h1 {
        margin-bottom: 10px;
        min-height: 50px;
    }

    .proyecto h2 {
        margin-bottom: 20px;
        min-height: 90px;
    }

    #contacto {
        padding: 50px 150px 50px 150px;
    }
}



@media (max-width: 1024px) and (min-width: 820px) {
    body {
        font-family: sans-serif;
        background-color: white;
        overflow-x: hidden;
        width: 1000px;
        margin: 0 auto;
    }

    #mision, #vision, #valores {
        height: 340px;
    }

    .proyecto h1 {
        margin-bottom: 10px;
        min-height: 65px;
    }

    .proyecto h2 {
        margin-bottom: 20px;
        min-height: 130px;
    }

    #contacto {
        flex-direction: column;
        padding: 50px 100px 50px 100px;
    }
    
    #tituloContacto {
        width: 100%;
        text-align: center;
    }
    
    #tituloContacto h1 {
        font-size: 30px;
    }
    
    #tituloContacto p {
        font-size: 20px;
    }
    
    #formulario {
        width: 100%;
    }

    #footer {
        padding: 50px 200px 50px 200px;
    }
}

@media (max-width: 819px) and (min-width: 640px) {
    body {
        font-family: sans-serif;
        background-color: white;
        overflow-x: hidden;
        width: 820px;
        margin: 0 auto;
    }

    #empresa {
        padding: 50px;
    }

    #about_us {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        margin: 5px -15px;
    }

    #mision {
        width: calc(50% - 20px);
        margin: 5px 0px;
        margin-right: 10px;
        height: 270px;
    }

    #vision {
        width: calc(50% - 20px);
        margin: 5px 0px;
        height: 270px;
    }

    #valores {
        width: calc(100% - 30px);
        margin-top: 5px;
    }

    #proyectos {
        margin-top: -10px;
        margin-bottom: -5px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .proyecto {
        width: calc(50% - 10px);
        margin: 5px;
    }

    #contacto {
        flex-direction: column;
        padding: 50px 100px 50px 100px;
    }
    
    #tituloContacto {
        width: 100%;
        text-align: center;
    }
    
    #tituloContacto h1 {
        font-size: 30px;
    }
    
    #tituloContacto p {
        font-size: 20px;
    }
    
    #formulario {
        width: 100%;
    }
}

@media (max-width: 639px) {
    body {
        font-family: sans-serif;
        background-color: white;
        overflow-x: hidden;
        width: 640px;
        margin: 0 auto;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul a {
        margin: 5px 0px;
    }

    nav ul li {
        margin: 5px 0px;
    }

    #empresa {
        padding: 50px;
    }

    #about_us {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        margin: 5px -15px;
    }

    #mision {
        width: calc(50% - 20px);
        margin: 5px 0px;
        margin-right: 10px;
        height: 300px;
    }

    #vision {
        width: calc(50% - 20px);
        margin: 5px 0px;
        height: 300px;
    }

    #valores {
        width: calc(100% - 30px);
        margin-top: 5px;
    }

    #proyectos {
        margin-top: -10px;
        margin-bottom: -5px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .proyecto {
        width: calc(50% - 10px);
        margin: 5px;
    }

    #contacto {
        flex-direction: column;
        padding: 50px 50px 50px 50px;
    }
    
    #tituloContacto {
        width: 100%;
        text-align: center;
    }
    
    #tituloContacto h1 {
        font-size: 30px;
    }
    
    #tituloContacto p {
        font-size: 20px;
    }
    
    #formulario {
        width: 100%;
    }

    #footer {
        padding: 50px 0;
    }
}